.page-home{
    .imposition{
        transform:translateX(-100px);
    }
    .section-intro{
        padding: 100px 0 0;
        .row{
            line-height: 0;
        }
        a{
            display:inline-block;
            width: 100%;
            transition: transform 1s;
            &:hover{
                transform: scale(1.05);
            }
        }
        .block {
            position:relative;
            &-large {
                width: 674px;
                height: 672px;
                float: right;
            }
            &-small {
                width: 336px;
                height: 336px;
                float: left;
            }
            &.smartlab{
                background-color: #009ce8;
                margin-right:-30px;
                .block__mask{
                    clip-path: url(#block-bg1-clip);
                    margin-left: -90px;
                    margin-top: 100px;
                    img{
                        margin-left: -80px;
                    }
                }
                .block__image{
                    margin-top: 166px;
                    margin-left: -75px;
                }
                .block__title{
                    text-align:center;
                    color:white;
                    bottom:55px;
                }
            }
            &.project{
                background-color: #d6dfe2;
                margin-top: 55px;
                .block__mask{
                    clip-path: url(#block-bg2-clip);
                    margin-left: 75px;
                    padding:5px;
                    img{
                        margin-left: -80px;
                    }
                }
                .block__image{
                    margin-top: 20px;
                    margin-left: 78px;
                }
                .block__title{
                    text-align:center;
                    color: #a9b4b7;
                    bottom:35px;
                }
            }
            &.cont{
                background-color: #eeeeee;
                .block__mask{
                    clip-path: url(#block-bg3-clip);
                    margin-left: 75px;
                    img{
                        margin-left: -50px;
                        width:500px;
                    }
                }
                .block__image{
                    margin-top: 118px;
                    margin-left: 78px;
                }
                .block__title{
                    text-align:left;
                    color: #a9b4b7;
                    bottom:35px;
                    left:22px;
                }
            }
            &__title{
                position:Absolute;
                left:0;
                right:0;
                font-size: 12px;
                font-weight: bold;
                p{
                    margin: 0;
                }
            }
        }
    }
    .svg{
        #block-bg1-clip {
            .text1 {
                font-weight: bold;
                font-size: 100px;
                font-family: 'Square721 BT';
                letter-spacing: 4px;
            }
            .text2{
                font-weight:bold;
                font-size:250px;
                font-family: 'Square721 BT';
                letter-spacing:30px;
            }
        }
        #block-bg2-clip {
            .text1 {
                font-weight:bold;
                font-size:130px;
                font-family: 'Square721 BT';
                letter-spacing:10px;
            }
            .text2{
                font-weight:bold;
                font-size:130px;
                font-family: 'Square721 BT';
                letter-spacing:10px;
            }
        }
        #block-bg3-clip {
            .text1 {
                font-weight:bold;
                font-size:130px;
                font-family: 'Square721 BT';
                letter-spacing:10px;
            }
        }
    }
}